---
variables:
    DOCKER_IMAGENAME: vivek29git/gitlab_pipeline
    DOCKER_IMAGETAG: ypws_v1
build_image:
    image: docker:29.2.1-cli
    services: 
        - docker:29.2.1-dind
    variables:
        DOCKER_TLS_CERTDIR: "/certs" 
    before_script:
        - echo $DOCKER_PASS | docker login -u $DockReg_username --password-stdin
    script:
        - docker build -t $DOCKER_IMAGENAME:$DOCKER_IMAGETAG .
        - docker push $DOCKER_IMAGENAME:$DOCKER_IMAGETAG
